<aydp>
  <nmeaReader>
    <interface type="serial">
      <device>/dev/serial/by-id/usb-MTK_GPS_Receiver-if01</device>
    </interface>
  </nmeaReader>
  <imuReader>
    <spoof>true</spoof>
    <settings>RTIMULib</settings>
  </imuReader>
  <headingAP>
    <kP>1.5</kP>
    <kI>0.1</kI>
    <kD>0.025</kD>
    <channel>0</channel>
    <integralLimit>5</integralLimit>
    <iterationtime>50</iterationtime>
  </headingAP>
</aydp>

